@font-face {
    font-family: "MyriadProRegular";
    src: url("MyriadProRegular/MyriadProRegular.eot");
    src: url("MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}